In [6]:
#connecting mysql with python
import mysql.connector

In [7]:
mydb=mysql.connector.connect(host='localhost',user='root',password='1234')
print(mydb.connection_id)

10

In [9]:
#creating database
cur=mydb.cursor()
cur.execute("CREATE DATABASE db2")

## selecting db1

In [15]:
#connecting mysql with python
import mysql.connector

In [17]:
mydb=mysql.connector.connect(
    host='localhost',
    user='root',
    password='1234',
    database='db1')
cur=mydb.cursor()#obtaining cursor object
s="create table BOOK(bookid integer(4),title varchar(20),price float(5,2))"
cur.execute(s)

ProgrammingError: 1050 (42S01): Table 'book' already exists

In [19]:
#connecting mysql with python
import mysql.connector

In [20]:
mydb=mysql.connector.connect(
    host='localhost',
    user='root',
    password='1234',
    database='db1')
cur=mydb.cursor()#obtaining cursor object
s='INSERT INTO book(bookid,title,price) VALUES(%s,%s,%s)'
b1=(1,'python3',345)
cur.execute(s,b1)
mydb.commit()

## Inserting multiple record

In [3]:
import mysql.connector

In [5]:
mydb=mysql.connector.connect(
    host='localhost',
    user='root',
    password='1234',
    database='db1')
cur=mydb.cursor()#obtaining cursor object
s='INSERT INTO book(bookid,title,price) VALUES(%s,%s,%s)'
books=[(2,'PHP',135),(3,'java8',450),(4,'HTML',200)]#inserted multiple record
cur.executemany(s,books)
mydb.commit()

## Extracting data from table

In [7]:
import mysql.connector

In [14]:
s="SELECT * from book"
cur.execute(s)
result=cur.fetchall()
for rec in result:
    print(rec)

(1, 'python3', 345.0)
(2, 'PHP', 135.0)
(3, 'java8', 450.0)
(4, 'HTML', 200.0)

## Update Table Record

In [16]:
s='UPDATE book SET price=price+10 WHERE price>200'
cur.execute(s)#querry executes and records will get executed
mydb.commit()# to permanently change data

## Delete Record from Table

In [19]:
s="DELETE FROM book WHERE title='PHP'"
cur.execute(s)
mydb.commit()